
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Georgia, Helvetica, sans-serif;
    padding: 0px 0px;
     margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.8;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.button {
  border-radius: 0px;
  background-color: inherit;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 0px 0px;
  
  cursor: pointer;
  margin: 0px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\27a4';
  position: absolute;
  color: black;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.1s;
}

.button:hover span {
    padding-right: 20px;
    background-color: #eee;
    color: black;
}

.button:hover span:after {
    opacity: 0.8;
    color: black;
    background-color: #eee;
    right: 0;
}

.button1 {
  border-radius: 0px;
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 14px 16px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\27a4';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.5s;
}

.button1:hover span {
    padding-right: 20px;
    color: black;
}

.button1:hover span:after {
  opacity: 0.8;
  right: 0;
  color: black;
}


.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 500px;
}

.imgright {
    display: block;
    margin-left: 20px;
    border-radius: 50%;
    height: 500px;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {

}

.container-fluid{
    width: 100%;
    padding: 0px;
    padding-right: 0px; padding-left: 0px; margin-right: 0px; margin-left: 0px; }

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}

.carousel {
    position: relative;
    width: 100%;
}


.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    right: 0;
    left: 0;
    z-index: 1030;
}

body{
   background-color: #fff;
}

.nav > li > a:hover{
    color: black;
}

.centeralign{
    color: #fff;
    text-align: center;
}
.cenalign{
    text-align: center;
}
.rightalign{
    text-align: right;
}
.leftalign{
    text-align: left;
}
.gf{
    font-family: Georgia, serif;
}
.whitetext{
  color: #e9e8f5;
}
.whitebg{
  background-color: #e9e8f5;
}
.greytext{
  color: #333;
}
.greybg{
  background-color: #333;
}

.parallax1 {
    /* The image used */
    background: url("study.jpg");

    /* Set a specific height */
    min-height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
      /* The image used */
    background-image: url("courses1.jpg");

    /* Set a specific height */
    min-height: 600px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax3 {
      /* The image used */
    background-image: url("courses3.jpg");

    /* Set a specific height */
    min-height: 1500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax4 {
      /* The image used */
    background-image: url("courses2.jpg");

    /* Set a specific height */
    min-height: 600px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.intro1 {
    text-align: center;
    color: #1F2739;
    padding-right: 300px;
    padding-left: 300px;
    margin-bottom: 0px;
}

.intro2 {
    text-align: center;
    color: #1F2739;
    padding-right: 200px;
    padding-left: 100px;
    margin-bottom: 0px;
}
.intro3 {
    text-align: center;
    color: #1F2739;
    padding-right: 110px;
    padding-left: 300px;
    margin-bottom: 0px;body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
    font-weight: bold;
    font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
    font-weight: normal;
    font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
     -moz-box-shadow: 0 2px 2px -2px #0E1119;
          box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
    padding-bottom: 2%;
    padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: #2C3446;
}

.container th {
    background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }

    
}
.newfont{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.pad{
  background-color: #1F2739;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif,sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    background-color: inherit;
}
.bluecol{
    color: #2159b2;}

.lbcol{
    color: #027cff;}
.largefont20{
    font-size: 20px;
}
.largefont15{
    font-size: 15px;
}
.largefont30{
    font-size: 30px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
    font-weight: bold;
    font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
    font-weight: normal;
    font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
     -moz-box-shadow: 0 2px 2px -2px #0E1119;
          box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
    padding-bottom: 2%;
    padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: #323C50;
}
/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: #2C3446;
}
.container th {
    background-color: #fff;
}
.container td:first-child { color: #FB667A; }
.zpad{
  padding-bottom: 6px;
}
